label {
    display: block;
    margin: 20px 0 5px 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    display: block;
    margin-bottom: 100px;
}

body {
    padding: 0 0 100px 0;
}

input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

input[type=text] {
    width: 150px;
}


input[type=email] {
    width: 300px;
}

select {
    width: 300px;
}

span {
    color: red;
}

input[type=submit]{
    background: rgb(36, 158, 158);
    width: 300px;
    color: white;
}

input[type=submit]:hover {
    background: rgb(9, 64, 64);
}