* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

fieldset {
    margin: 0 10px 0 10px;
    /* display: inline-block; */
    max-width: 100vw; 
}

.ll {
    width: 30vw;
    display: inline-block;
}

/* .gender {
    width: 30vw;
} */

.hint   {
    font-size:small
}

body form fieldset div .checkbox-label {
    width: 0;
}

.labelright {
    width: 0;
}

