
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    /* border: 1px solid red; */

}

head{
    margin-bottom: 100px;
}

header h3{
    display:flex;
    align-items: center;
    justify-content: center;

    background-color: teal;
    color: beige;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;

    margin-bottom: 10px;
    
}

main{
    margin-left: 40px;
}

main p{
    /* background-color: teal;
    color: beige; */
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-bottom: 20px;
}

main ul{
    /* display: inline-block; */
    /* display:flex; */
    /* align-items: center; */
    /* justify-content: center; */

    color: #777;
    font-size: 20px;
}

main li:nth-of-type(1){
    text-decoration-line: overline
    
    /* border-top: 1px solid blue; */
    
}

main li:nth-of-type(2){
    text-align: center;
    text-decoration-line: line-through;
   
}

main li:nth-of-type(3){
    text-align: right;
    text-decoration-line: underline;
}