@font-face {
    font-family: "Como";
    src: url("../fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf");
}

@font-face {
    font-family: "ComoBold";
    src: url("../fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf");
}

* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid teal; */
}

html {
    background-color: gainsboro;
    font-size: 62.5%;
    font-family: var(--font);
    margin: 30px;
}

:root {
    --text: 1.6rem;
    --h2: 3.5rem;
    --h3: 2.4rem;  
    --sponsor: rgb(55, 54, 54);
    --font: "Como";
    --fontbold: "ComoBold";
}

h1 {
    font-family: var(--font), Arial, Helvetica, sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

p {

}


/* ! H1 and Issue */

/* # missing: first letter from News */
h1::first-letter {
    font-size: 4.5rem;
} 


header .issue{
    display: flex;
    justify-content: space-evenly;
    border-top: solid var(--sponsor) 5px;
    border-bottom: var(--sponsor) solid 5px;
    margin-bottom: 3rem;
}

header .issue p {
    padding: 0.5rem 0;
    color: var(--sponsor);
    font-family: var(--font);
    text-transform: uppercase;
    font-size: var(--text);

}



/* ! Main -articles + sponsor auseinander */
/* * hiermit wird der sponsoren bereich abgetrennt */
main {
    min-height: 100vh;
    display: grid;
    gap: 5px;
    grid-template-columns: 4fr 1fr;
}


/* * dies ist der Bereich H2 und drunter der wrapper articles + image */
main .hl-articles-img {
    grid-column: 1 / 2;
    /* grid-column weil es ein kind von main ist.  */

    /* As Parent: blockelements under each other anyways. but for h2 as fullwidth, grid needed */
    /* display: grid;
    grid-template-rows: repeat(2, 1fr); */


}


main .hl-articles-img h2{
    /* grid-row: 1 /2; */

    text-align: center;
    font-family: var(--font);
    font-size: var(--h2);
    margin-bottom: 20px;
}

/* ! articles and image under h2 */

.wrapper {
    /* as Parent for 1/2 article 1/2 img */
    display: grid;
    grid-template-areas: 
    "short1 short2 img img"
    "mid1 mid2 img img"
    "long1 long2 img img";
}

.wrapper h3 {
    font-size: var(h3);
}

.wrapper .img {
    grid-area: "img img";
    /* width: 50%; */
}

.wrapper .a1 {
    grid-area: "short1";
    /* width: 25%; */
    background-color: cornflowerblue;
}

.wrapper .a2 {
    grid-area: "short2";
    /* width: 25%; */
    background-color: cornflowerblue;
}

.wrapper .a3 {
    grid-area: "mid1";
    /* width: 25%; */
    background-color: rgb(207, 237, 100);
}


.wrapper .a4 {
    grid-area: "mid2";
    /* width: 25%; */
    background-color: rgb(228, 237, 100);
}

.wrapper .a5 {
    grid-area: "long1";
    /* width: 25%; */
    background-color: rgb(100, 237, 191);
}


.wrapper .a6 {
    grid-area: "long2";
    /* width: 25%; */
    background-color: rgb(100, 237, 105);
}




/* ! Main Sponsor */
main .sponsors {
    grid-column: 2 /-1;
/* grid-column as child. display flex as parent */
    display: flex;
    flex-direction: column; 
    text-align: center;
}

main .sponsors h4 {
    font-family: var(--font);
    font-size: 1.9rem;
    margin-bottom: 20px;
    text-align: center;
}


/* ! grid parent for the 3 boxes */
main .sponsors .ads {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px 0;
}

/* ! styling of the boxes */
main .sponsors .ads div {
    border: 5px solid var(--sponsor);
    text-align: center;
    padding: 10px;
}


/* ! add for add */
.youhere {
    font-size: 5rem;
    text-transform: uppercase;
    font-family: var(--fontbold);
}


/* ! text add */
.p-and-a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.p-and-a h3 {
    font-size: var(--h3);
    margin-bottom: 20px;
}

.p-and-a p {
    font-size: var(--text);
    margin-bottom: 20px;
}

.p-and-a a {
    color: var(--sponsor);
    font-size: 2rem;
    font-weight: 200;
}

/* ! Logo add */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}