header h1:first-letter {
    color: #00796B;
    font-size: 3em;
}

/* !hover über erstem buchstaben */
header h1:hover:first-letter{
    color: #4FC3F7;
}

main {
    width: 50vw;
    padding-left: 20px;
}

/* #Aufzählungszeichen als img recherchieren. nicht sichtbar*/

main ul li {
    color: black;
    list-style: none;
}

/* ! Lists-style-image per class */

/* 6x class für after - one each */
.gym::after {
    /* list-style-image: url("../icons/gym.png"); */
    content: url("../icons/gym.png");
}

.bills::after {
    content: url("../icons/bill.png");
}

.george::after {
    content: url("../icons/dance.png");
}

.eggs::after {
    content: url("../icons/eat.png");
}

.book::after {
    content: url("../icons/book.png");
}

.office::after {
   content: url("../icons/organize.png");
}


/* 3x Status für vor dem Task */
.done::before {
    content: url("../icons/check.png");
}

.doing::before {
    content: url("../icons/doing.png");
}

.no::before {
    content: url("../icons/no.png");
}

.doing {
    background-color: teal;
}