/* ! so können wir Svgs stylen */
/* svg {
    height: 400px;
    width: auto;
    fill: red;
} */

/*  ! Basics styling */
:root {
    --space-sm: 30px;
    --space-big: 60px;
    --text-gray: #606060;
}

.wrapper {
    background-color: #F3F3F3;
    /* hier benutzen wir relative werte um in der mobilen ansicht keine anpassungen machen zu müssen */
    padding: 3vw 6vw;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 60px;
}

h5 {
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
}

.text-gray-small {
    font-size: 14px;
    color: var(--text-gray);
}


/* ! Header */
header {
    margin-bottom: 260px;
}

header h2,
nav {
    display: inline;
}

header nav {
    float: right;
}

/* damit sorgen wir dafür dass der mouseover früher zur hand wird */
header nav a {
    padding: 10px;
}


/*  ! Main */
/* damit drücken wir das logo unter die h1 des heros */
.hero {
    margin-bottom: var(--space-big);
}

.hero h1 {
    width: 300px;
    display: inline-block;
    margin-right: 160px;
   
}

.hero p {
    display: inline-block;
    font-size: 32px;
    width: 500px;
    color: var(--text-gray)
}

.img-arrow {
    margin-bottom: var(--space-big);
}


/*  ! Article */
.proj article {
    padding: var(--space-big);
    border-bottom: 1px solid black;
}

.proj article div {
    display: inline-block;
    width: 40vw;
    padding-top: -100%;
}

.proj article img{
    /* max-width: 640px; laut figma. aber für responsive 40vw */
    max-width: 40vw;
    height: 220px;
    /* object fit cover damit das foto nicht verzerrt wird */
    object-fit: cover;
    margin-bottom: -30px;
    object-position: top left;
}

.proj article h5,
.proj article p {
    margin-bottom: var(--space-sm);
}

.proj .text-gray-sm {
    margin-bottom: var(--space-big);
}

.proj article a {
    text-decoration: underline;
}