@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf");
}

:root {
    --smallspace: 100px;
    --text-tiny: 12px;
    --text2: 20px;
    --text3: 16px;
    --text-teal: #659D89;
    --text-grey: #666666;
    
}

.wrapper {
    background-color: #CCCCCC;
    padding: 3vw 6vw;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--text-teal);
    /* # hier oder bei der nav noch den hover shadow einfüge */
}

h1 {
    font-size: 50px;
    color: var(--text-teal);
}

/* ! header */

header {
    height: 
}

header section nav {
    font-weight: 400;
    list-style: none;
}

header li {
    list-style: none;
}

.socials {
    text-align: right;
}

.socials:hover {
    text-shadow: 5px 5px 5px 5px var(--text-grey);
}

/* ! Featured Resources */


.feat-res article {
    margin-bottom: var(--smallspace);
}

.feat-res div {
    color: var(--text-grey);
    font-weight: 400;
    font-size: var(--text-tiny);
}

.feat-res article div img {
    margin-bottom: 20px;
}

.feat-res p {
    text-transform: uppercase;

}

.feat-res article div div h3 {
    color: black;
    font-size: var(--text2);
}

